[Desktop Entry]
Version=1.0
Type=Application
Name=LLM
Comment=Containerized LLM 

Exec=/app/bin/llm.py  
## python3 -c "input('read')"
#Exec= flatpak run org.llm.LLM
Terminal=true
